@charset "UTF-8";
/* 모바일 */
#wrap {
    min-width: 320px;
    height: 100vh;
    position: relative;
}
#header-menu-area {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;

    background-color: #888888;
}
.gnb-btn, .title-area, .login-btn {
    height: 100%;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
}
.gnb-btn {
    width: 16%;
    background-image: url( "https://www.redcross.or.kr/m/img/menuIco.png" );
    background-size: 18px;
    
}
.title-area {
    width: 35%;
    background-image: url( "https://www.redcross.or.kr/m/img/logo.png" );
    background-size: contain;
}
.login-btn {
    width: 16%;
    background-image: url( "https://www.redcross.or.kr/m/img/mpBtnIco.png" );
    background-size: 22px;
}
.gnb {
    width: 250px;
    background-color: #fff;
}
.gnb-wrap {
    display: none; /* 최상단 작업으로 인해 임시 none 처리 */
}
.gnb-menu-d1-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.open-indic {
    display: inline-block;
    width: 5px;
    height: 50px;
    background-color: #ff0000;
}
.gnb-menu-d1-title {
    width: 70%;
    padding: 15px 0;  
    text-align: center;
    font-size: 15px;
}
.plus-symbol-wrap {
    width: 20%;
}
.plus-symbol, .plus-symbol::after {
    display: block;
    width: 12px;
    height: 2px;
    background-color: black;
}
.plus-symbol {
    margin: 24px 0 0 20px;
}
.plus-symbol::after {
    content: "";
    transform: rotate(90deg);
}
.gnb-menu-d1 {
    display: none;
}
.fixed-menu-wrap {
    position: relative;
}
.fixed-menu {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    
    background-color: #cd4831;
}
.fixed-menu-item {
    width: 60px;
    margin: 0 10px;
}
.fixed-menu-item div {
    position: relative;
    width: 100%;
    height: 60%;
}
.fixed-menu-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
}
.fixed-menu-item p {
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 14px;
    letter-spacing: -1px;
    color: #fff;
}

/* 작업용 임시 분리 */

/* 태블릿 */
@media ( min-width: 768px ) {}
/* PC */
@media ( min-width: 1024px ) {}