@charset "UTF-8";
/* 모바일 */
#wrap {
    min-width: 320px;
    position: relative;
}
/* 모바일 - header */
#header {
    width: 100%;
    margin-bottom: 50px;
}
.fixed_menu_top {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 99;

    background-color: #888888;
}
.gnb_btn, .title_area, .login_btn {
    height: 100%;
    text-indent: -99999px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.gnb_btn {
    width: 50px;
    background-image: url( "https://www.redcross.or.kr/m/img/menuIco.png" );
    background-size: 18px;
    
}
.title_area {
    width: 35%;
    background-image: url( "https://www.redcross.or.kr/m/img/logo.png" );
    background-size: auto 26px;
}
.login_btn {
    width: 50px;
    background-image: url( "https://www.redcross.or.kr/m/img/mpBtnIco.png" );
    background-size: 22px;
}
.fixed_menu_bottom {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    
    background-color: #cd4831;
}
.fixed_menu_bottom li {
    width: 100%;
    margin: 0 22px;
}
.fixed_menu_bottom li div:nth-child(1) {
    position: relative;
    height: 60%;
}
.fixed_menu_bottom li div:nth-child(1) img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}
.fixed_menu_bottom li div:nth-child(2) {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.fixed_menu_bottom li div:nth-child(2) .item_name {
    display: block;
    box-sizing: content-box;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 100px;
    letter-spacing: -1px;

    transition: 0.2s;
}
.fixed_menu_bottom li:hover .item_name {
    color: #cd4831;
    background-color: #fff;
}
/* 모바일 - header - GNB */
.gnb_wrap {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.gnb {   
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
}
.gnb::-webkit-scrollbar {
    width: 0.7vw;
    transition: all 1s;
}
.gnb::-webkit-scrollbar-thumb {
    background-color: #ff000066;
}
.gnb::-webkit-scrollbar-track {
    background-color: #cd483133;
}
.gnb_exit {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    background-color: #111;
}
.gnb_exit span {
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 24px;
    left: 15px;
    transform: rotate(45deg);
    background-color: #fafafa;
}
.gnb_exit span::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    transform: rotate(90deg);
    background-color: #fafafa;
}
.gnb_menu_d0_title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #eee;
}
.gnb_menu_d0_title .open_indic {
    display: inline-block;
    width: 5px;
    height: 50px;
    background-color: #ff0000;
}
.gnb_menu_d0_title .title {
    width: 70%;
    padding: 15px 0;  
    font-size: 15px;
}
.plus_symbol {
    width: 20%;
}
.plus_symbol span, .plus_symbol span::after {
    width: 12px;
    height: 2px;
    background-color: #111;
}
.plus_symbol span {
    display: block;
    margin: 24px 0 0 20px;
}
.plus_symbol span::after {
    display: none;
    content: "";
    transform: rotate(90deg);
}
.gnb_menu_d1 {
    padding: 0 10px;
}
.gnb_menu_d1_item {
    line-height: 45px;
    text-indent: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    color: #444;
}
.gnb_menu_d1_item:last-child {
    border-bottom: none;
}
.gnb_menu_d1_item > p, .gnb_menu_d1_item > p > a {
    display: block;
    line-height: 45px;
}
.gnb_menu_d1_item > p {
    position: relative;
    background-color: #ddd;
}
.gnb_menu_d1_item > p .down_symbol {
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 10px;
    width: 8px;
    height: 8px;
    border: solid #888;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg) translateY(-5px);
}
.gnb_menu_d2 {
    padding: 0 10px;
}
.gnb_menu_d2_item {
    position: relative;
    line-height: 45px;
    border-bottom: 1px solid #ccc;
}
.gnb_menu_d2_item:last-child {
    border-bottom: none;
}
.gnb_menu_d2_item > .plus_symbol {
    position: absolute;
    top: -3px;
    right: 5px;
}
.gnb_menu_d2_item > .plus_symbol span {
    background-color: #888;
}
.d3_expn {
    margin: 10px 0;
    background-color: #eee;
}
.gnb_menu_d3 {
    padding: 0 10px;
    background-color: #eee;
}
.gnb_menu_d3_item {
    text-indent: 10px;
    font-size: 12px;
    border-bottom: 1px dotted #ccc;
}
.gnb_menu_d3_item:last-child {
    border: 0;
}


/* 모바일 - main */
#container {
    position: relative;
}
.main_slide_wrap {
    position: relative;
    overflow: hidden;
}
.main_slide_all {
    display: flex;
    width: 500%;
}
.main_slide {
    width: 100%;
}
.main_slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.slide_indic {
    position: absolute;
    bottom: 3%;
    left: 50%;
    width: 100%;
    height: 12px;
    margin-left: -50%;
}
.slide_indic ul {
    display: flex;
    justify-content: center;
}
.slide_indic ul li {
    width: 12px;
    height: 12px;
    margin: 0 3px;
    border-radius: 15px;
    background-color: #888888;
}
.slide_indic .indic_on {
    width: 24px;
    background-color: #ff0000;
}


/* hide */
.hide {
    display: none;
}


/* 태블릿 */
@media ( min-width: 768px ) {}
/* PC */
@media ( min-width: 1024px ) {}